    <div>
        <button ng-click="addDoc()">add</button>
        <div ng-repeat="doc in docLs">
            <a ng-click="focusOn($index)" ng-show="focus != $index">{{doc.text}}</a>
            <textArea ng-model="doc.text" ng-show="focus == $index"></textArea>
            <button ng-click="focusOn(undefined); updateDoc($index)" ng-show="focus == $index">ok</button>
            <button ng-click="delDoc($index)">del</button>
            <button ng-click="editDoc($index)">edit</button>
        </div>
    </div>

		
