<div>
	<div class="container lighter">
    <h2>{{doc.text}}</h2>
    </div>
	<div class="container" ng-repeat="note in noteLs" >
        <div text-angular ta-toolbar="[['h1','h2','h3','h4','p'],
                                        ['bold','italics'],
                                        ['strikeThrough','ul','ol','indent','outdent', 'justifyLeft', 'justifyCenter', 'justifyRight', 'html']]" 
                          ng-model="note.text" 
                          ng-change="note.change=true" 
                          ng-show="focus == $index" 
                          ta-text-editor-class="border-around container" 
                          ta-html-editor-class="border-around container">
        </div>
        <div text-angular mathjax-bind="note.text" ng-click="focusOn($index)" ng-show="focus != $index" class="border-around container"></div>
        <br>
	</div>
	<br>
	<div class="container lighter">
        <button ng-click="addNote()">add</button>
        <button ng-click="deleteNote()">delete</button>
        <button ng-click="focusOn(undefined)">preview</button>
        <button ng-click="docPage()">home</button>
    </div>
</div>

